* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: #1890ff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    padding-left: 1rem;
}

.header .menu ul {
    display: flex;
}

.header .menu ul li {
    list-style: none;
}

.header .menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem; /* 1rem = 16px */
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}

.header .menu ul li a:hover {
    background: #fff;
    color: #1890ff;
    cursor: pointer;
}


.container {
    width: 1200px;
    margin: auto;
}

.contents {
    margin-top: 2rem;
}

.contents .container .main__contents {
    width: 100%;
}

.contents .container .main__contents .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contents .container .main__contents .row .block {
    width: 23.5%;
    height: 200px;
    border: 3px solid #1890ff;
    border-radius: 10px;
    background: rgba(24, 144, 255, 0.3);
}


.footer {
    width: 100%;
    padding: .75rem 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #1890ff;
    font-weight: bold;
}