* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $playfair;
    font-weight: 400;
}

a {
    font-family: $sacramento;
    color: #000;
    text-decoration: none;
}

p, ul, li {
    font-family: $alice;
} 


::selection {
    background-color: $iconHover;
    color: #fff;
}