@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital@0;1&family=Sacramento&display=swap');

$playfair: 'Playfair Display SC', serif;
$alice: 'Alice', serif;
$sacramento: 'Sacramento', serif;

$menuBorder: 1px solid rgba(255, 255, 255, 0.3);
$hover: #c7d93b;
$color: #1d1a19;
$borderDark: 1px solid #49423b;
$borderLight: 1px solid #fff;
$shopNameColor: #444;
$hoverBg: rgba(29, 26, 25, 0.5);
$bottomBG: #f4efde;
$footerBg: #dba539;
$iconHover: #d74e2d;
$footerBg2: #805f1e;